<mat-form-field class="full-width" appearance="outline" floatLabel="always">
  <mat-label>{{ label }}</mat-label>
  <input matInput [formControl]="searchControl" [matAutocomplete]="desigAuto"
    placeholder="Type to search designations...">
  <button mat-icon-button matSuffix *ngIf="searchControl.value && !disabled" (click)="clear()" type="button">
    <mat-icon>close</mat-icon>
  </button>
  <mat-autocomplete #desigAuto="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)">
    <mat-option *ngFor="let desig of filteredDesignations" [value]="desig">
      {{ desig }}
    </mat-option>
    <mat-option *ngIf="filteredDesignations.length === 0" disabled>
      No designations found
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="required && !selectedDesignation">Designation is required</mat-error>
</mat-form-field>